<section class="about section" id="about">
  <div class="container">
    <h2 class="about-title">About <span class="title-underlined">Us</span></h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-flex">
      <ol class="about-ol">
        <li class="about-li">
          <p class="about-li-p">Expert, innovative teaching staff</p>
        </li>
        <li class="about-li">
          <p class="about-li-p">Wide range of course levels and options</p>
        </li>
        <li class="about-li">
          <p class="about-li-p">Multicultural learning environment</p>
        </li>
        <li class="about-li">
          <p class="about-li-p">Comprehensive language support services</p>
        </li>
        <!-- <li class="about-li about-li-img"></li> -->
      </ol>
      <div class="about-div-img">
        <img
          class="about-img animation-pulse"
          src="./img/about//about-img.png"
          srcset="./img/about/about-img.png 1x, ./img/about/about-img@2x.png 2x"
          width="254"
          alt="the girl points her finger up"
        />
      </div>
    </div>
  </div>
</section>
