<section class="application section" id="application">
  <div class="container">
    <h2 class="section-title">
      Leave an <span class="title-underlined">application</span>
    </h2>
    <p class="section-description">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="application-body">
      <div class="application-ad" data-aos="zoom-in-right">
        <div class="application-ad__img" ></div>
        <div class="application-ad__content">
          <p class="application-ad__text">
            <span class="application-ad__counter">1000</span>of our online
            English language lessons! This journey has been full of discovery,
            growth and unforgettable moments, and we are happy to share this
            joyful event with you.
          </p>
        </div>
      </div>
      <form class="application-form">
        <div class="form-field" data-aos="zoom-in-left">
          <input
            class="form-input"
            type="text"
            id="contact-name"
            name="contact-name"
            pattern="[a-zA-Zа-яА-ЯЇїІі\s]*"
            required
          />
          <label for="contact-name" class="form-label">Name</label>
        </div>

        <div class="form-field" data-aos="zoom-in-left">
          <input
            class="form-input"
            type="email"
            id="contact-email"
            name="contact-email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
          />
          <label for="contact-email" class="form-label">Email</label>
        </div>

        <div class="form-field" data-aos="zoom-in-left">
          <input
            class="form-input"
            type="tel"
            id="contact-phone"
            name="contact-phone"
            pattern="[0-9]*"
            required
          />
          <label for="contact-phone" class="form-label">Phone</label>
        </div>

        <div class="form-field" data-aos="zoom-in-left">
          <textarea
            name="contact-comment"
            id="contact-comment"
            cols="30"
            rows="10"
            class="form-textarea"
          ></textarea>
          <label for="contact-comment" class="form-label">Comment</label>
        </div>

        <fieldset class="radio-buttons" data-aos="fade-up">
          <legend class="radio-legend">Choose a teacher</legend>
          <div class="radio-group">
            <label class="radio-label" for="teacher-1">
              <input
                type="radio"
                id="teacher-1"
                name="teacher"
                value="Maria"
                checked
                class="radio-input"
              />
              Maria
            </label>

            <label class="radio-label" for="teacher-2">
              <input
                type="radio"
                id="teacher-2"
                name="teacher"
                value="Artem"
                class="radio-input"
              />
              Artem
            </label>

            <label class="radio-label" for="teacher-3">
              <input
                type="radio"
                id="teacher-3"
                name="teacher"
                value="Ilona"
                class="radio-input"
              />
              Ilona
            </label>

            <label class="radio-label" for="teacher-4">
              <input
                type="radio"
                id="teacher-4"
                name="teacher"
                value="Volodymyr"
                class="radio-input"
              />
              Volodymyr
            </label>
          </div>
        </fieldset>

        <button class="form-btn primary-btn" data-aos="zoom-in-up" type="submit">Send</button>

        <span class="form-privacy" data-aos="zoom-in-up">
          By clicking on “Send” button, you agree to our
          <a href="#" class="form-privacy-link">Privacy Policy</a>, and allow
          Promodo to use this information for marketing purposes.
        </span>
      </form>
    </div>
  </div>
</section>
