<footer class="footer" id="contact">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html">
          <span class="logo-english">english</span
          ><span class="logo-excellence">excellence</span
          ><span class="logo-dot">.</span>
        </a>
      </div>

      <address>
        <ul class="address">
          <li>
            <p>Phone number:</p>
            <a class="address-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>

          <li>
            <p>Address:</p>
            <a
              class="address-link"
              href="https://www.google.pl/maps/place/%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82+%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%B8+%D0%91%D0%B0%D0%B6%D0%B0%D0%BD%D0%B0,+32%D0%90,+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0,+02000/@50.3973433,30.645865,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c450580cb0ef:0xa9ecbb77005418c9!8m2!3d50.3973399!4d30.6484399!16s%2Fg%2F11cnchy4dm?entry=ttu"
              target="_blank"
              >32a M. Bazhana ave</a
            >
          </li>
        </ul>
      </address>
    </div>

    <ul class="nav">
      <li><a class="nav-link" href="#about">About us</a></li>
      <li><a class="nav-link" href="#lesson">Our lessons</a></li>
      <li><a class="nav-link" href="#teachers">Teachers</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
      <li><a class="nav-link" href="#contact">Contact us</a></li>
    </ul>

    <div class="footer-socials">
      <ul class="footer-list-icons">
        <li>
          <a
            class="footer-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to facebook.com"
          >
            <svg class="footer-icons" width="26" height="26">
              <use href="./public/favicon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to instagram.com"
          >
            <svg class="footer-icons" width="26" height="26">
              <use href="./public/favicon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to youtube.com"
          >
            <svg class="footer-icons" width="26" height="26">
              <use href="./public/favicon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="agreement">     
        <svg class="agreement-vector" width="100%" height="2">
              <use href="./public/favicon.svg#icon-vector"></use>
        </svg>
        <p>&copy;2023 English Excellence. All rights reserved.</p>
        <div class="agreement-links-wrapper">
            <a
                class="agreement-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
            >
                Privacy Policy
            </a>

            <a
                class="agreement-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
            >
                Terms of Service
            </a>
      </div>
    </div>
  </div>
</footer>
