<section class="hero" data-aos="zoom-in">
  <div class="container">
    <div class="hero-box">
      <h1 data-aos="fade-right">
        Discover the joy of learning
        <span class="proposal-title-item">English</span> with us!
      </h1>

      <a class="primary-btn hero-btn" data-aos="fade-right" href="#application">Leave an application</a>

      <div data-aos="fade-up-left" class="to-footer">
        <a href="#contact">
          <svg width="20" height="20">
            <use href="./img/icons.svg#icon-to-footer"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
