<section class="hero">
    <div class="container">
        <div class="hero-box">
            <h1>Discover the joy of learning <span class="proposal-title-item">English</span> with us!</h1>
            <a class="hero-link" href="#application">
                <button type="button" class="main-btn proposal-btn">Leave an application</button>
            </a>
            <a href="#contact">
                <button class="to-footer">
                    <svg width="20" height="20">
                        <use href="./img/icons.svg#icon-to-footer"></use>
                    </svg>
                </button>
            </a>
        </div>
    </div>
</section>