<section class="hero">
    <div class="container">
        <div class="hero-box">
            <h1>Discover the joy of learning <span class="proposal-title-item">English</span> with us!</h1>

                <button type="button" class="main-btn hero-btn">
                  <a class="hero-link" href="#application">Leave an application</a>
                </button>

                <button class="to-footer">
                  <a href="#contact">
                    <svg width="20" height="20">
                        <use href="./img/icons.svg#icon-to-footer"></use>
                    </svg>
                  </a>
                </button>

        </div>
    </div>
  </div>
</section>
