<section class="lessons section" id="lessons">
  <div class="container">
    <h2 class="lessons-title">Our lessons</h2>
    <p class="lessons-text">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lessons-list">
      <li class="lessons-item">
        <h3 class="lessons-item-title">Practice</h3>
        <p class="lessons-item-price">40$ / month</p>
        <p class="lessons-item-text">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <button class="lessons-item-btn main-btn" type="button">
          <a href="#application"> Leave an application </a>
        </button>
      </li>
      <li class="lessons-item">
        <h3 class="lessons-item-title">Standard</h3>
        <p class="lessons-item-price">70$ / month</p>
        <p class="lessons-item-text">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <button class="lessons-item-btn main-btn" type="button">
          <a href="#application"> Leave an application </a>
        </button>
      </li>
      <li class="lessons-item">
        <h3 class="lessons-item-title">Individual</h3>
        <p class="lessons-item-price">99$ / month</p>
        <p class="lessons-item-text">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <button class="lessons-item-btn main-btn" type="button">
          <a href="#application">Leave an application</a>
        </button>
      </li>
    </ul>
  </div>
</section>
