<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle-close js-close-menu" aria-label="Close menu button">
      <svg class="toggle-icon-close" width="32" height="32">
        <use href="./public/favicon.svg#icon-x"></use>
      </svg>
    </button>
    
    <ul class="mobile-menu-nav">
      <li><a class="nav-link" href="#about">About us</a></li>
      <li><a class="nav-link" href="#lessons">Our lessons</a></li>
      <li><a class="nav-link" href="#teachers">Teachers</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
      <li><a class="nav-link" href="#contacts">Contact us</a></li>
    </ul>

    <ul class="list-socials">
      <li>
        <a class="socials-links" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" aria-label="Link to instagram.com">
          <svg class="socials-icons" width="26" height="26">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-links" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="Link to youtube.com">
          <svg class="socials-icons" width="26" height="26">
            <use href="./public/favicon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-links" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Link to facebook.com">
          <svg class="socials-icons" width="26" height="26">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>