<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-header section-title" data-aos="fade-up">
      What our <span class="title-underlined">students</span> say
    </h2>
    <p class="reviews-text section-description" data-aos="fade-up">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item" data-aos="fade-up-right">
        <div class="reviews-list-item-container">
          <img
            src="./img/reviews/Anna.avif"
            srcset="./img/reviews/Anna.avif 1x, ./img/reviews/Anna@2x.avif 2x"
            alt="student Anna"
            class="reviews-list-item-container-img"
            width="50"
            height="50"
          />
          <div class="reviews-list-item-container-wrapper">
            <h3 class="reviews-list-item-header">Anna</h3>
            <p class="reviews-list-item-container-text">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-list-item hidden-mobile" data-aos="fade-up">
        <div class="reviews-list-item-container">
          <img
            src="./img/reviews/Mykhailo.avif"
            srcset="
              ./img/reviews/Mykhailo.avif    1x,
              ./img/reviews/Mykhailo@2x.avif 2x
            "
            alt="student Mykhailo"
            class="reviews-list-item-container-img"
            width="50"
            height="50"
          />
          <div class="reviews-list-item-container-wrapper">
            <h3 class="reviews-list-item-header">Mykhailo</h3>
            <p class="reviews-list-item-container-text">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="reviews-list-item hidden-mobile hidden-tablet" data-aos="fade-up-left">
        <div class="reviews-list-item-container">
          <img
            src="./img/reviews/Victoria.avif"
            srcset="
              ./img/reviews/Victoria.avif    1x,
              ./img/reviews/Victoria@2x.avif 2x
            "
            alt="student Victoria"
            class="reviews-list-item-container-img"
            width="50"
            height="50"
          />
          <div class="reviews-list-item-container-wrapper">
            <h3 class="reviews-list-item-header">Victoria</h3>
            <p class="reviews-list-item-container-text">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
