<section class="teachers section" id="teachers">
  <div class="container">
    <h2 class="teachers-title">
      Meet our <span class="accent">teachers</span>
    </h2>
    <p class="teachers-section-text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-item">
        <div class="teachers-wrapper">
          <img
            class="teachers-img"
            srcset="./img/teachers/1_teach@1x.avif 1x, ./img/teachers/1@2x.avif"
            src="./img/teachers/1_teach@1x.avif"
            alt="Teacher Maria"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-author">Maria</h3>
        <p class="teachers-text">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-wrapper">
          <img
            class="teachers-img"
            srcset="./img/teachers/2_teach@1x.avif 1x, ./img/teachers/2@2x.avif"
            src="./img/teachers/2_teach@1x.avif"
            alt="Teacher Artem"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-author">Artem</h3>
        <p class="teachers-text">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-wrapper">
          <img
            class="teachers-img"
            srcset="./img/teachers/3_teach@1x.avif 1x, ./img/teachers/3@2x.avif"
            src="./img/teachers/3_teach@1x.avif"
            alt="Teacher Ilona"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-author">Ilona</h3>
        <p class="teachers-text">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-wrapper">
          <img
            class="teachers-img"
            srcset="./img/teachers/4_teach@1x.avif 1x, ./img/teachers/4@2x.avif"
            src="./img/teachers/4_teach@1x.avif"
            alt="Teacher Volodymyr"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-author">Volodymyr</h3>
        <p class="teachers-text">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
