.about * {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: margin, gap;
  /* transition-property: all; */
}

.about-title {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 16px;
}

.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
}

@media screen and (min-width: 768px) {
  .about-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 658px;
    width: 100%;
    font-size: 18px;
  }
}

.about-flex {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .about-flex {
    gap: 32px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .about-flex {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.about-ol {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .about-ol {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-ol {
    flex-basis: calc(320px * 2);
  }
}

.about-ol li:before {
  content: counter(count, decimal-leading-zero);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--green-color);
}

.about-li {
  counter-increment: count;
  padding: 32px;
  border-radius: 16px;
  background: var(--gray-color);
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .about-li {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .about-li {
    width: calc((100% - 32px) / 2);
  }
}

.about-li-p {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black-color);
}

.about-div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 313px;
  /* aspect-ratio: 335/313; */
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--green-color);
}

@media screen and (min-width: 768px) {
  .about-div-img {
    height: 243px;
  }
}

@media screen and (min-width: 1280px) {
  .about-div-img {
    flex-basis: 320px;
    height: auto;
  }
}

.animation-pulse {
  animation: pulse 2s none;
  /* animation: wiggle 2s infinite; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
