html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  font-style: normal;
  color: var(--main-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;
  border: none;
  border-radius: 12px;
  padding: 16px 64px;
  color: var(--white-color);
  background-color: var(--green-color);
}

.main-btn:active,
.main-btn:hover,
.main-btn:focus {
  background-color: #38ae5f;
  outline: none;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05263;
  color: var(--white-color);
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.66667;
  }

  .main-btn {
    font-size: 18px;
    line-height: 1.55556;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  h1 {
    font-size: 60px;
    line-height: 1.1666;
  }

  h2 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 1158px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1158px;
  }
}

.section {
  padding: var(--section-padding) 0;
}

.section-title {
  text-align: center;
  margin-bottom: 16px;
}

.section-description {
  max-width: 709px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section-description {
    margin-bottom: 64px;
  }
}
