.footer {
    background-color: var(--black-color);
    color: var(--white-color);

}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-wrap: wrap;    
}

.footer-wrapper {
    margin-bottom: 40px;
}

.footer-logo {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.logo-excellence {
    color: var(--green-color);
}

.address {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.9;
    margin-bottom: 4px;
}

.address a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    color: #fff;
}

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
}

.footer-socials {
    margin-bottom: 40px;
}

.footer-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px; 
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.footer-link:hover .footer-icons,
.footer-link:focus .footer-icons{
    fill: var(--green-color);
}

.footer-icons {
    fill: var(--white-color);
    opacity: 0.8;    
}

.agreement {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.9;
}

.agreement-vector {
    position: absolute;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.1);
    display: block; 
    top: 0;
    left: 0;   
}

.agreement p {    
    margin-top: 20px;
}

.agreement-links-wrapper {
    display: inline-flex;
    margin-top: 14px;
    gap: 18px;
}


@media only screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 32px;
        row-gap: 110px;
        justify-content: space-between;
    }

    .footer-wrapper {
        margin-bottom: 0;
    }

    .footer-logo {
        margin-bottom: 32px;
    }

    .agreement {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;  
        align-items: baseline;
    }

    .agreement-vector {
        height: 8%;
    }

}

@media only screen and (min-width: 1280px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 64px;
        row-gap: 64px;
        justify-content: space-between;
    }   
    
    .agreement {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: baseline;
    }

    .agreement-vector {
        height: 8%;
    }

}
