.proposal {
    padding: 0 20px;
    overflow: hidden;
    margin-bottom: 80px;
}

.proposal>.container {
    padding-bottom: 64px;
    padding-top: 40px;
    border-radius: 16px;
    background: linear-gradient(85deg, #4DC274 2.25%, #BEE8CC 131.25%);
    overflow: hidden;
}

.proposal-title {
    color: var(--white-color);
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 65px;
}

.proposal-title-item {
    color: var(--green-linear-color);
}

.english-power-container {
    position: relative;
    border-radius: 16px;
    padding: 40px 20px;
    z-index: 1;
}

.english-power-container-bellow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
}

.rotate-0 {
    background: var(--white-color);
}
.container-bellow-bg-11 {
    background: rgba(255, 255, 255, 0.50);
}
.rotate-11 {
    transform: rotate(11deg);    
}
.container-bellow-bg-9 {
    background: var(--light-green-color);
}
.rotate-9 {
    transform: rotate(-9deg);    
}

.proposal-books-img {
    display: none;
    width: 214px;
    position: absolute;
    bottom: 63px;
    right: -48px;    
}
.english-power-title {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.english-power-list {
    margin: 20px 0;
    max-width: 580px;
}

.english-power-item {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
}

.english-power-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green-color);
}

.proposal-icon {
    fill: var(--white-color);
}

.english-power-item:not(:last-child) {
    margin-bottom: 16px;
}
.proposal-btn {    
    width: 100%;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.proposal-link {
    display: flex;   
    margin: 0 auto;
    max-width: 255px;
}

@media (min-width: 768px) {
    .proposal {
        padding: 0 32px;
        margin-bottom: 100px;
    }

    .proposal>.container {
        padding-bottom: 93px;
        padding-top: 64px;
        border-radius: 30px;
        overflow: visible;
    }

    .proposal-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 83px;
    }

    .english-power-container {
        border-radius: 30px;
        padding: 65px 187px 63px 32px;
        margin: 0 -14px;
    }

    .english-power-container-bellow {
        border-radius: 30px;
    }

    .rotate-11 {
        transform: rotate(10.655deg);
    }

    .rotate-9 {
        transform: rotate(-9.864deg);
    }

    .english-power-title {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.8px;
    }

    .english-power-list {
        margin: 32px 0;
    }

    .english-power-item {
        gap: 14px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.4px;
    }

    .proposal-books-img {
        display: block;          
    }
    .books-bounce {       
        animation: bounce 1s ease;
    }
    
    @keyframes bounce {
        0%, 60%, 100% { bottom: 63px; }
        20% { bottom: 93px; }
        40% { bottom: 78px; }
        80% { bottom: 83px; }
        90% { bottom: 70px; }
    }

    .english-power-item-box {
        min-width: 20px;
        height: 20px;
    }
    .proposal-link {
        margin-left: 0;        
        max-width: 306px;
    }
    .proposal-btn {
        padding: 16px;       
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width: 1158px) {
    .proposal>.container {
        padding-bottom: 142px;
    }

    .proposal-title {
        max-width: 776px;
        margin-bottom: 133px;
    }

    .english-power-container {
        padding: 65px 306px 63px 64px;
        margin: 0;
    }

    .english-power-list {
        margin-top: 42px;
        margin-bottom: 39px;
        max-width: 100%;
    }

    .english-power-item {
        gap: 16px;
    }

    .english-power-item-box {
        min-width: 28px;
        height: 28px;
    }

    .proposal-icon {
        width: 20px;
        height: 20px;
    }

    .proposal-books-img {
        bottom: 79px;
        right: 0px;
    }

    .books-bounce {       
        animation: bounce2 1s ease;
    }
    
    @keyframes bounce2 {
        0%, 60%, 100% { bottom: 79px; }
        20% { bottom: 109px; }
        40% { bottom: 94px; }
        80% { bottom: 99px; }
        90% { bottom: 86px; }
    }

    .rotate-11 {
        transform: rotate(11deg);
    }

    .rotate-9 {
        transform: rotate(-8deg);
    }
}