@import url('./variables.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./lessons.css');
@import url('./proposal.css');
@import url('./teachers.css');
@import url('./application.css');
@import url('./reviews.css');
@import url('./footer.css');

@import url('./menu.css');
